body{
    background-color: gray;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#container{
    background-color: aqua;
    text-align: center;
}

#cabecera{
    background-color: blue;
    text-align: center;
}
