body{
    background-color: gray;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

#container{
    background-color: aqua;
    text-align: center;
}

#cabecera{
    background-color: blue;
    text-align: center;
}
